
/*FIX FOR DATEPICKER in version 0.11.4*/

.md-datepicker-calendar, .md-datepicker-input-mask-opaque {
    background: rgb(255, 255, 255);
}


.md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator,
.md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator {
    background: rgb(33, 150, 243);
    color: rgb(255, 255, 255);
    border-color: transparent;
}
.md-calendar-date-selection-indicator:hover {
    background: rgb(224, 224, 224);
}

.md-calendar-day-header {
    background: rgb(224, 224, 224);
    color: rgba(0, 0, 0, 0.87);
}

.md-calendar-date-disabled,
.md-calendar-month-label-disabled {
    color: rgba(0, 0, 0, 0.26);
}
/*FIX FOR DATEPICKER in version 0.11.4*/

html, body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}


header{
    height: 120px;
    width: 100%;
    box-sizing: content-box;
}
header > md-toolbar > div{
    padding-right: 120px;
}


#brand{
    box-sizing: inherit;
    margin: 0px;
    padding: 10px;
}

#brand > md-icon{
    font-family: icomoon;
    height: 100px;
    width: 100px;
}


.content{
    padding: 20px;
    max-width: 960px;
    margin: auto;
}
.validation-messages {
    font-size: 11px;
    color: darkred;
    margin: 10px 0 0 25px;
}

md-input-container.md-input-invalid > md-select.ng-invalid > md-select-value {
    border-color: rgb(244,67,54);
}

@media(min-width: 600px) and (max-width: 900px){
    .md-display-2{
        font-size: 24px;
    }
    #brand > md-icon{
        font-family: icomoon;
        height: 70px;
        width: 70px;
    }

    header > md-toolbar > div{
        padding-right: 90px;
    }
    header{
        height: 90px;
    }
}

@media (min-width: 600px) {
    md-datepicker{
        padding-top: 15px;
        padding-right: 5px;
    }
}

@media(max-width: 600px) {
    #brand{
        padding: 5px;
    }
    #brand > md-icon{
        font-family: icomoon;
        height: 50px;
        width: 50px;
    }

    header > md-toolbar > div{
        padding-right: 40px;
    }
    header{
        height: 40px;
    }
    .md-display-2{
        font-size: 16px;
    }
}