body, html{
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
#brand{
    box-sizing: inherit;
    margin: 0px;
    padding: 10px;
}
.background{
    background: url("/static/adminPanel/img/background.jpg");
    background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.content{
    min-height: 100%;
}

.content > section{
   height: 100%;
    overflow: visible;
}

.content > section > md-content{
    opacity: 0.75;
}

section >md-content{
    background: transparent;
}
#brand md-icon{
    height: 50px;
    width: 50px;
}

.sidebar-items{
    padding-left: 0px;
    margin-top: 0px;
}
.sidebar-items > li{
}
.sidebar-items > li > a{
    display: block;
    padding: 10px;
    padding-left: 20px;
    font-weight: bold;
    text-decoration: none;
}
.sidebar-items > li > a:hover{
    background-color: rgba(180,180,180, 0.8);
    color: inherit;
}
.sidebar-items > li.active > a{
    background-color: rgba(63,81,181, 0.8);
    color: rgba(255,255,255,0.87);
}
.sidebar-items > li > a:not(:hover),
.sidebar-items > li > a:visited:not(:hover){
    color: inherit;
}

md-sidenav,
md-sidenav > *{
    background-color: #eee;
}
md-sidenav.md-locked-open{
    height: 100%;
}

.login-dialog{
    height: 250px;
    width: 500px;
}

.login-dialog .logo{
    height: 230px;
    width: 230px;
}

@media (min-width: 960px) {

    #brand > .toggleMenu{
        display: none;
    }
}
@media (max-width: 960px) {

    #brand .logo{
        display: none;
    }
    #brand md-icon{
        height: 50px;
        width: 50px;
    }
    #brand > .toggleMenu > md-icon{
        font-size: 45px;
    }


}

@media(min-width: 600px) and (max-width: 960px){
    .md-display-2{
        font-size: 24px;
    }


    header{
        height: 90px;
    }
}

@media (min-width: 600px) {
    md-datepicker{
        padding-top: 15px;
        padding-right: 5px;
    }
}

@media(max-width: 600px) {
    #brand{
        padding: 5px;
    }

    header{
        height: 40px;
    }
    .md-display-2{
        font-size: 16px;
    }
}
