{% load staticfiles %}
<html>
<head>
    <title>Анкета выпускника | Панель управления</title>
    <script type="text/javascript" src="{% static 'adminPanel/bower_components/angular/angular.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'adminPanel/bower_components/angular-material/angular-material.min.css' %}">

    <link rel="stylesheet" href="{% static 'adminPanel/css/style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

</head>
<body ng-app='admin' ng-controller="AppController">
<div class="background"></div>
{% block content %}

{% endblock %}
<script type="text/javascript" src="{% static 'adminPanel/bower_components/angular-ui-router/release/angular-ui-router.min.js' %}"></script>
<script type="text/javascript" src="{% static 'adminPanel/bower_components/angular-material/angular-material.min.js' %}"></script>
<script type="text/javascript" src="{% static 'adminPanel/bower_components/angular-resource/angular-resource.min.js' %}"></script>
<script type="text/javascript" src="{% static 'adminPanel/bower_components/angular-aria/angular-aria.min.js' %}"></script>
<script type="text/javascript" src="{% static 'adminPanel/bower_components/angular-animate/angular-animate.min.js' %}"></script>
<script type="text/javascript" src="{% static 'adminPanel/bower_components/angular-material/angular-material.min.js' %}"></script>
<script type="text/javascript" src="{% static 'adminPanel/bower_components/moment/moment.js' %}"></script>
<script type="text/javascript" src="{% static 'adminPanel/js/admin.js' %}"></script>
<script type="text/javascript" src="{% static 'adminPanel/js/controllers/admin.sidebar.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'adminPanel/js/modules/main/admin.main.js' %}"></script>
<script type="text/javascript" src="{% static 'adminPanel/js/modules/db/admin.db.js' %}"></script>
<script type="text/javascript" src="{% static 'adminPanel/js/modules/management/admin.management.js' %}"></script>
<script type="text/javascript" src="{% static 'adminPanel/js/modules/settings/admin.settings.js' %}"></script>
<script type="text/javascript" src="{% static 'adminPanel/js/modules/login/admin.login.js' %}"></script>
<script type="text/javascript" src="{% static 'adminPanel/js/services/admin.authservice.js' %}"></script>
</body>
</body>
</html>