{% extends 'adminPanel/base.html' %}
{% block content %}
<div class="content">
    <section layout="row" flex>
        <div ng-controller="AdminSidebarController">
            <md-sidenav layout="column" class="md-sidenav-left md-primary md-raised" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" >

                <md-toolbar class="" ng-controller="AdminSidebarController">
                    <div class="md-toolbar-tools">

                        <md-icon class="md-raised md-primary md-icon logo" style="height: 100%"  md-svg-icon="brand"></md-icon>
                        <h1 style="padding: 10px;"> Меню</h1>
                        <span flex></span>
                        <md-button class="md-icon-button ui-corner-right" aria-label="Sidebar" hide-gt-md="" ng-click="toggleLeftMenu()">
                            <md-icon class="material-icons">menu</md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-content ng-controller="AdminSidebarController">
                    <ul flex="initial" class="sidebar-items">
                        <li ng-repeat="menuItem in menuItems"  ui-sref-active="active"><a ui-sref="[[menuItem.state]]" href="[[menuItem.href]]"><md-icon class="material-icons md-raised">[[menuItem.icon]]</md-icon><span> [[menuItem.name]]</span></a></li>
                        <!--li><a  href="#/db"><md-icon class="material-icons md-raised">storage</md-icon> База</a></li>
                        <li><a  href="#/management"><md-icon class="material-icons md-raised">developer_board</md-icon> Управление</a></li>
                        <li><a  href="#/settings"><md-icon class="material-icons md-raised">settings</md-icon> Настройки</a></li-->
                    </ul>
                </md-content>
                <div flex="auto"></div>
                <ul class="sidebar-items">
                    <li><a href="auth/logout"><md-icon class="material-icons md-raised">exit_to_app</md-icon><span> Выйти</span></a></li>
                </ul>
            </md-sidenav>
        </div>
        <md-content flex layout-padding ng-hide="isLoginPage()">
            <md-toolbar class="md-primary" layout="row" layout-wrap>
                <div layout="row" class="md-toolbar-tools">
                        <div id="brand">
                            <md-button class="md-icon-button toggleMenu" ng-click="toggleLeftMenu()">
                                <md-icon class="material-icons toggleMenu">menu</md-icon>
                            </md-button>
                        </div>

                        <!--md-icon class="md-primary" md-svg-icon="android"></md-icon-->
                        <div class="title" flex layout="row" layout-align="center center">
                            <div flex="none" class="md-display-2" id="title">
                               Панель управления
                            </div>
                        </div>
                </div>
            </md-toolbar>
            <md-content ui-view flex layout-paddin>

            </md-content>
        </md-content>
    </section>
</div>
{% endblock %}